/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionally, set the font globally */
body {
    font-family: 'Roboto Slab', serif;
}

/* Custom CSS for text color transition */
.animate-text-color {
    color: white; /* Initial color of the text */
    transition: color 0.3s ease; /* Smooth transition for text color */
}

/* Hover state for text color change */
.theme-yellow .animate-text-color:hover {
    color: theme('colors.systemYellow'); /* Change text color to yellow */
}

.theme-blue .animate-text-color:hover {
    color: theme('colors.systemBlue'); /* Change text color to blue */
}

/* Default state for links */
a.theme-yellow, a.theme-blue {
    color: white; /* Keep links white by default */
    text-decoration: none; /* No underline by default */
    position: relative; /* So we can position the underline */
    overflow: hidden; /* Hide the underline by default */
    transition: color 0.3s ease; /* Smooth transition for text color */
}

/* Hover state for link color change */
a.theme-yellow:hover {
    color: theme('colors.systemYellow'); /* Change text color to yellow on hover */
}

a.theme-blue:hover {
    color: theme('colors.systemBlue'); /* Change text color to blue on hover */
}


/* Default state for links */
a.theme-yellow, a.theme-blue {
    color: white; /* Keep links white */
    text-decoration: none; /* No underline by default */
    position: relative; /* So we can position the underline */
    overflow: hidden; /* Hide the underline by default */
    transition: color 0.3s ease; /* Smooth transition for text color */
}

/* Underline effect for elements with the animate-underline class */
a.animate-underline::after {
    content: ''; /* Create an empty pseudo-element for the underline */
    position: absolute;
    bottom: 0;
    left: 50%; /* Position at the center */
    width: 0%; /* Start with width 0 */
    height: 2px;
    background-color: transparent; /* Invisible initially */
    transform-origin: center center; /* Start the animation from the center */
    transform: translateX(-50%); /* Adjust the position to center it */
    transition: width 0.3s ease, background-color 0.3s ease; /* Animate the width and color */
}

/* Hover effect for yellow theme with animate-underline */
a.theme-yellow.animate-underline::after {
    background-color: #fbd100; /* Yellow underline */
}

a.theme-yellow.animate-underline:hover::after {
    width: 100%; /* Expand the underline to full width */
}

/* Hover effect for blue theme with animate-underline */
a.theme-blue.animate-underline::after {
    background-color: #3b82f6; /* Blue underline */
}

a.theme-blue.animate-underline:hover::after {
    width: 100%; /* Expand the underline to full width */
}