/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Roboto Slab as the default font globally */
body {
    font-family: 'Roboto Slab', serif;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.animate-slide-down {
    animation: slide-down 0.3s ease-out forwards;
}

.animate-slide-up {
    animation: slide-up 0.3s ease-in forwards;
}

select {
    -webkit-appearance: none; /* Verwijdert standaard Safari-styling */
    -moz-appearance: none;    /* Verwijdert standaard Firefox-styling */
    appearance: none;         /* Verwijdert algemene styling */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white"><path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" /></svg>'); /* Custom dropdown-pijltje */
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 2rem;
}